@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@500;700&display=swap');

// TODO dark mode
// TODO embed the font so i don't have to get it from friggin google

html {
    height: 100%;
    width: 100%;
}

$font-stack: 'Assistant', sans-serif;

body {
    height: 100%;
    margin: 0;

    display: flex;
    flex-direction: column;

    font-family: $font-stack;

    line-height: 1.25;

    background: rgb(12, 36, 69); // for ios safari to show this color around the notch
}

h1 + ul,
h2 + ul {
    margin-top: 0;
}

#content {
    height: 100%;

    display: flex;
    flex-direction: column;

    background-color: rgb(238, 238, 238);
}

@mixin nav_light {
    background: linear-gradient(
        90deg, 
        rgb(12, 36, 69) 20%, 
        rgb(54, 79, 108) 50%,
        rgb(12, 36, 69) 80%
    );
    color: white;

    a:link,
    a:visited {
        text-decoration: none;
        color: white;
        cursor: pointer;
    }

    a:hover,
    a:active {
        text-decoration: none;
        color: #ccc;
    }

    
    .standalone & {
        // just notch things (for full screen web app mode, opened from the home screen)
        padding-top: env(safe-area-inset-top);
        padding-left: env(safe-area-inset-left);
        padding-right: env(safe-area-inset-right);
    }
}

.search-bar-container {
    flex-grow: 0;

    width: 100%;
    position: relative;

    @include nav_light;
}

.top-tabs {
    position: absolute;
    top: 2px;
    left: 1px;
    z-index: 2;

    list-style-type: none;
    padding: 0 20px;
    margin: 10px 0;

    box-sizing: border-box;
    width: 250px;

    display: flex;
    align-items: flex-start;
    justify-content: center;

    // "evade" the location button lol
    @media screen and (max-width: 340px) {
        width: 200px;
    }

    & > * {
        appearance: none;

        width: 50%;
        height: 28px;
        line-height: 28px;

        box-sizing: border-box;

        border: none;
        padding: 0;

        // border: 1px solid white;
        // padding: 5px 3px 4px 3px;

        text-align: center;
        font-size: 15px;
        font-weight: bold;
        color: white !important;
        font-family: inherit;

        background: linear-gradient(
            rgb(253, 214, 169),
            #f70,
            rgb(207, 100, 0)
        );

        user-select: none;

        &:first-child {
            border-top-right-radius: 5px;
            // border-bottom-right-radius: 5px;
        }

        &:not(:first-child) {
            margin-right: 1px;
        }

        &:last-child {
            border-top-left-radius: 5px;
            // border-bottom-left-radius: 5px;
        }

        &[aria-pressed=true] {
            height: 30px;
            background: linear-gradient(
                #ca790f,
                #f7ae12,
                #fff
            );

            color: rgb(52, 52, 102) !important;
        }

        &[aria-pressed=false] {
            cursor: pointer;
        }
    }
}

.search-bar {
    position: relative;

    box-sizing: border-box;
    max-width: 650px;

    margin: 0 auto;
    padding: 40px 20px 7px 20px;
}

hr {
    margin: 0;
    width: 100%;
    border: none;
    border-bottom: 1px solid #ddd;
}

#search-by-location {
    position: absolute;
    top: 7px;
    right: 7px;

    border: 1px solid black;
    border-radius: 3px;

    padding: 1px 4px;

    background-color: #ddd;
    color: #000;

    font-family: $font-stack;
}

/* [GEOLOCATION_STATUS.OFF]: "is-off",
    [GEOLOCATION_STATUS.DENIED]: "is-denied",
    [GEOLOCATION_STATUS.UNAVAILABLE]: "is-unavailable",
    [GEOLOCATION_STATUS.TIMEOUT]: "is-unavailable",
    [GEOLOCATION_STATUS.HAS_LOCATION]: "is-on",
    [GEOLOCATION_STATUS.TRYING]: "is-loading" */

#search-by-location.is-denied,
#search-by-location.is-unavailable {
    border-color: white;
    background-color: maroon;
    color: white;
}

#search-by-location.is-loading,
#search-by-location.is-on {
    border-color: rgb(128, 161, 189);

    background-color: rgb(20, 105, 179);
    color: white;
}


#search-input {
    box-sizing: border-box;

    display: block;
    width: 100%;

    // margin-bottom: 15px;
    margin-bottom: 5px;

    font-size: 25px;
    font-family: $font-stack;
}

.credit {
    display: block;
    text-align: left;

    // color: #eee;
    font-size: 80%;

    a:link, a:visited {
        text-decoration: underline;
        color: #ccc;
    }

    a:hover, a:active {
        color: #fff;
    }
}

.filter-notice {
    padding: 8px 15px;
    
    // background-color: rgb(15, 47, 82);
    background-color: #2c577d;
    color: white;
}

.skeleton {
    background: #ddd !important;
    border-radius: 2px;

    &.skeleton-h1 {
        height: 26px;
        width: 282px;
        margin: 5px 0;
    }

    &.skeleton-h2 {
        width: 120px;
        height: 18px;
        margin: 4px 0;
    }
}

.shimmer {
    overflow: hidden;
    position: relative;

    &::before {
        content: "";
        position: absolute;
        background: linear-gradient(
            0.3turn,
            #fff0,
            #fff0,
            #fff0,
            #fff6,
            #fff0,
            #fff0,
            #fff0
        );
        height: 100%;
        width: 100%;
        z-index: 999;

        @media (prefers-reduced-motion: reduce) {
            transform: translateX(30%);
            animation: none !important;
        }
        animation: shimmer 2s infinite;
    }
}

@keyframes shimmer {
    from {
        transform: translateX(100%);
    }

    to {
        transform: translateX(-100%);
    }
}

.no-alerts-today {
    padding: 20px 10px;
    text-align: center;

    font-size: 180%;

    & > span {
        display: block;
    }
}

.snarky-comment {
    margin-top: 5px;
    font-size: 50%;
}

.line-number {
    display: inline-block;
    
    box-sizing: border-box;
    // margin: 7px 0;
    border-radius: 6px;

    min-width: 30px;
    height: 30px;

    line-height: 30px;
    text-align: center;

    font: 14px "Heebo" sans-serif;
    font-weight: 500;
    color: black;

    /* default background */
    background-color: #ddd;
}

// .line-number.line-number-tiny,
// .line-number-tiny .line-number {
//     min-width: 25px;
//     height: 25px;

//     line-height: 25px;
//     font-size: 12px;

//     position: relative;
//     top: -1px;
// }

.line-number.line-number-big,
.line-number-big .line-number {
    min-width: 45px;
    height: 45px;

    line-height: 45px;
    font-size: 20px;
}

.line-number.line-number-bigger,
.line-number-bigger .line-number {
    min-width: 60px;
    height: 60px;

    line-height: 60px;
    font-size: 27px;
}

.line-number.line-number-verybig,
.line-number-verybig .line-number {
    min-width: 80px;
    height: 80px;

    line-height: 80px;
    font-size: 35px;
}

.alert-list-view {
    list-style-type: none;
    margin: 0;
    padding: 0;
    height: 100%;
}

.scroll-to-top {
    position: absolute;
    bottom: 25px;
    left: 35px;

    width: 40px;
    height: 40px;

    border: none;
    border-radius: 100%;

    filter: drop-shadow(0px 0px 5px rgba(0, 0, 0, 0.5));

    background: #224670;
    cursor: pointer;
    
    opacity: 1;
    transition-property: opacity;
    transition-duration: 0.2s;

    &::before {
        position: absolute;
        top: -1px;
        left: 0;

        content: "";
        display: block;
        width: 100%;
        height: 100%;
        background: url("/assets/scroll_to_top.svg") center/20px no-repeat
    }

    &.hidden {
        display: block !important;
        opacity: 0;
        cursor: auto;
    }

    .standalone & {
        bottom: calc(25px + env(safe-area-inset-bottom));
    }
}

.alert-summary-wrapper {
    padding: 10px 10px 0 10px;
}

.line-summary,
.alert-summary {
    position: relative;

    max-width: 550px;
    margin: 0 auto;

    box-sizing: border-box;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 6px;
    
    padding: 5px;

    background-color: #fff;

    h1 {
        font-size: 150%;
        font-weight: bold;
        margin: 0;
    }

    h2 {
        font-size: 110%;
        font-weight: bold;
        margin: 0;
    }

    & > .more-details {
        display: block;
        width: fit-content;
        margin: 0 auto 1px 5px;
    
        text-align: left;
    
        color: #666;
        cursor: pointer;

        &.skeleton {
            width: 130px;
            height: 18px;
        }
    }
}

.line-summary {
    .agency-tag {
        position: absolute;
        left: 5px;
        top: 5px;

        &.skeleton {
            width: 50px;
        }
    }

    .destinations {
        display: flex;
        flex-direction: column;
        align-items: center;

        text-align: center;

        margin-bottom: 20px;

        .line-number {
            margin: 10px 0;
        }

        .direction-separator {
            font-size: 150%;

            &.skeleton {
                display: block;
                margin: 5px 0;
                width: 20px;
                height: 25px;
            }
        }

        .skeleton-h1 {
            margin: 0;
        }
    }

    .relevant-tag {
        position: absolute;
        top: 5px;
        right: 5px;
    }
    
    .distance-tag {
        left: unset;
        right: 5px;
    }
    
    .relevant-tag ~ .distance-tag {
        top: 35px;
    }

    // .destinations + * {
    //     margin-top: 20px;
    // }
}

ul.main-cities,
ul.secondary-cities {
    list-style-type: none;
    margin: 10px 0 0 0;
    padding: 0;

    & > li {
        display: inline;

        & + li::before {
            content: ", ";
        }
    }
}

ul.secondary-cities {
    &::before {
        content: "(";
    }

    &::after {
        content: ")";
    }
}

.relevant-agencies {
    margin: 3px 0 8px 0;
    padding: 0;

    & > .agency-tag {
        margin: 0 4px 4px 0;
    }
}

.agency-tag/*,
.alert-count-tag*/ {
    display: inline-flex;

    box-sizing: border-box;
    border-radius: 6px;
    padding: 0 7px;

    // min-width: 30px;
    min-height: 30px;

    color: black;

    background-color: #eaeaea;

    align-items: center;

    & > img ~ span {
        // margin-right: 7px;

        line-height: 30px;
        text-align: center;
    }

    & > img {
        height: 20px;
    }

    & > img + * {
        margin-right: 7px;
    }

    .line-number-big & {
        min-height: 40px;

        font-size: 130%;

        & > img {
            height: 30px;
        }
    }

    &.skeleton {
        width: 80px;
    }
}

// .alert-count-tag {
//     & > img ~ span {
//         margin-right: 4px;
//     }
// }

.alert-counters {
    display: flex;
    justify-content: space-around;
    // justify-content: center;
    padding: 0 40px;

    margin-bottom: 10px;
}

.alert-count-big {
    min-width: 60px;
    display: flex;

    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    text-align: center;

    padding: 0 5px 5px 5px;
    border-radius: 10px;
    border: 5px solid #777;

    & > .icon-wrapper {
        margin: 9px 2px 2px 8px;
        & > img {
            width: 20px;
        }

        // &.cancelled {
        //     position: relative;
    
        //     &::after {
        //         content: "";
        //         display: block;
    
        //         position: absolute;
        //         top: -2px;
        //         left: -2px;
        //         width: 24px;
        //         height: 24px;
    
        //         background: url(assets/cancelled.svg) no-repeat center;
        //     }
        // }
    }

    & > .count {
        font-size: 250%;
    }

    &.skeleton {
        border-color: #ddd;
        width: 60px;
        height: 50px;

        margin-bottom: 6px;
    }
}

.relevant-lines {
    display: flex;
    flex-wrap: wrap;

    margin: 3px 0 8px 0;
    padding: 0;

    list-style-type: none;

    gap: 2px;

    & > li {
        position: relative;

        margin: 0;
    }

    &.interactive {
        gap: 8px;
        margin: 8px 5px 10px 5px;
        & > li {
            cursor: pointer;
            // overflow: visible;

            &.is-selected::before {
                content: " ";
                position: absolute;
                top: -5px;
                right: -5px;
                bottom: -5px;
                left: -5px;
                border: 3px solid black;
                border-radius: 6px;
            }
        }
    }

    &.skeleton {
        background: none !important;
    }
}

.relevant-stops {
    margin: 0 0 8px 0;
    padding: 0;

    list-style-type: none;

    & > li:not(.hidden-count) {
        position: relative;
    
        line-height: 25px;
        margin-right: 30px;
    
        &::before {
            content: " ";
            
            display: inline-block;
            position: absolute;
            right: -25px;
            top: 3px;
        
            width: 20px;
            height: 20px;
        
            background: url('/assets/sign505.svg') center/contain no-repeat;
            background-size: 20px;
        }

        &.skeleton {
            background: none !important;

            height: 25px;
            display: flex;
            align-items: center;

            &::before {
                background: #ddd;
                border-radius: 2px;
            }
        }

        &.skeleton > span {
            display: inline-block;
            width: 250px;
            height: 15px;

            background: #ddd;
        }
    }

    & > li.hidden-count {
        line-height: 25px;
        margin-right: 5px;
        font-size: 80%;
    }
}

.distance-tag {
    position: absolute;
    top: 5px;
    left: 5px;
}

.distance-tag.distance-known {
    background-color: rgb(20, 197, 237);
    color: #233234;
}

.relevant-tag,
.distance-tag {
    margin-top: 2px;

    display: block;
    width: fit-content;

    padding: 3px;
    border-radius: 4px;

    background-color: #666;
    color: white;

    &.skeleton {
        height: 20px;
        width: 120px;
    }
}

$alert-color-red: maroon;
$alert-color-orange: #e17f16;
$alert-color-yellow: rgb(231,200,0);
$alert-color-green: rgb(21, 92, 21);

.alert-count-tag-today {
    border-color: $alert-color-red;
}
.alert-count-tag-tomorrow {
    border-color: $alert-color-orange;
}
.alert-count-tag-future {
    border-color:$alert-color-yellow;
}
.alert-count-tag-none {
    border-color: $alert-color-green;
}
.relevant-tag-today {
    background-color: $alert-color-red;
    color: white;
}

.relevant-tag-tomorrow {
    // background-color: rgb(240, 205, 2);
    background-color: $alert-color-orange;
    color: white;
    // color: black;
}

.relevant-tag-future {
    background-color:$alert-color-green;
    color: white;
}

.relevant-tag-expired,
.relevant-tag-deleted {
    & ~ :not(.relevant-lines),
    & ~ :not(.relevant-lines) .agency-tag {
        text-decoration: line-through;
        color: #aaa !important;
    }

    & ~ .distance-tag.distance-known {
        background-color: rgb(38, 99, 113);
    }

    & ~ * .agency-tag > img,
    & ~ .agency-tag > img {
        // filter: saturate(0.7) contrast(0.3);
        filter: contrast(80%) saturate(30%) brightness(1.2);
    }

    & ~ * .line-number {
        position: relative;

        color: #888;
        filter: contrast(80%) saturate(30%) brightness(1.2);

        &::before {
            // diagonal line across the square

            content: "";
            display: block;

            position: absolute;
            left: calc(50% - (160% / 2));
            top: 47%;
            width: 160%; //72px;
            height: 6%;

            background: #888;

            transform: rotate(45deg);
        }

        // &::after {
        //     content: "";
        //     display: block;

        //     position: absolute;
        //     top: 0;
        //     right: 0;
        //     bottom: 0;
        //     left: 0;

        //     border-radius: 6px;

        //     background: rgba(184, 184, 184, 0.4);
        // }
    }

    & ~ .map-container-container/* .map-container*/ {
        &::before {
            content: "";
            display: block;
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            left: 0;
            background: rgba(184, 184, 184, 0.6);
            z-index: 99999;
            pointer-events: none;
        }
    }
}


.last-end-time {
    color: #666;
    font-size: 90%;

    &.skeleton {
        display: block;
        height: 15px;
        width: 150px;

        margin: 2px 0;
    }
}

a.more-details:link,
a.more-details:visited {
    text-decoration: none;
    color: #666;
    cursor: pointer;
}

a.more-details:hover,
a.more-details:active {
    text-decoration: none;
    color: #999;
}

.list-end-gizmo {
    width: 100%;
    height: 100px;

    &::before {
        content: "";
        display: block;
        width: 100%;
        height: 100%;

        background: url('/assets/wolf.svg') no-repeat center;
    }

    .standalone & {
        padding-bottom: env(safe-area-inset-bottom);
    }
}

.alerts-list-container {
    position: relative;
    flex-grow: 1;
    height: 100%;
}

.loading-overlay {
    box-sizing: border-box;
    display: none;

    flex-direction: column;
    align-items: center;

    position: absolute;
    top: -1px;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 999999;

    padding-top: 30px;

    background-color: rgba(0, 0, 0, 60%);
}

.loading-overlay.shown {
    display: flex;
}

.shown {
    display: block;
}

.hidden {
    display: none !important;
}

.loading-indicator {
    display: block;

    width: 60px;
    height: 60px;

    border: 5px solid white;
    border-radius: 15px;

    animation: 1.5s ease-in-out infinite alternate spin;
}

@media (prefers-reduced-motion: reduce) {
    .loading-indicator {
        animation: none;
    }
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.loading-text {
    display: block;

    width: 100%;

    margin-top: 20px;
    
    text-align: center;
    font-size: 180%;

    color: white;
}

.deleted {
    text-decoration: line-through;
}

.single-alert-view {
    display: flex;
    flex-direction: column;
    height: 100%;

    & > nav {
        display: block;
        flex-grow: 0;

        @include nav_light;

        & > .nav-content {
            padding: 20px;
        }
    }
}

.single-alert-content-container {
    flex-grow: 1;
    overflow-y: scroll;
    position: relative;
    padding: 0 10px;
}

.single-alert-content,
.single-line-content {
    position: relative;

    flex-grow: 1;
    overflow-y: visible;

    max-width: 550px;

    margin: 10px auto;

    box-sizing: border-box;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 6px;
    
    padding: 5px;

    background: white;

    .standalone & {
        margin-bottom: env(safe-area-inset-bottom);
    }

    h1 {
        font-size: 160%;

        margin: 0;
        margin-bottom: 15px;
    }

    h2 {
        font-size: 120%;
        margin: 0;
    }

    pre {
        margin: 0;

        font-family: sans-serif;
        white-space: pre-wrap;
        overflow-wrap: break-word;
    }

    .distance-tag {
        left: 10px;
    }

    // .agency-tag {
    //     background-color: #d8d8d8;
    // }

    h2 ~ .agency-tag {
        width: 100%;
        justify-content: center;
    }

    > .destinations {
        margin-bottom: 10px;
        display: flex;

        // justify-content: flex-start;
        align-items: flex-start;

        .direction-chooser-wrapper {
            margin-right: 3px;
            width: 100%;
        }

        .direction-chooser {
            margin: 0;

            > :first-child {
                margin-top: 0;
            }

            > :last-child {
                margin-bottom: 0;
            }
        }

        > .line-and-agency {
            display: flex;
            flex-direction: column;
            align-self: flex-start;

            > .line-number {
                align-self: center;
                
                margin-top: 8px;
            }

            > .agency-tag {
                justify-content: center;
            }
        }
    }
}

.single-line-alert-list {
    list-style-type: none;

    > * {
        margin-bottom: 8px;
    }

    > .selected {
        list-style-type: "🠔";
    }
}

.active-periods {
    list-style-type: none;

    margin: 0;
    padding: 0;

    & > li {
        margin-bottom: 15px;
    }

    .from, .to, .daterange {
        display: block;
    }

    .daterange-container {
        display: flex;
        gap: 0.25em;
    }

    .active-hours {
        list-style-type: none;
        padding-right: 3.5em;
    }

    .active-hours,
    .daterange-container {
        & .from,
        & .to {
            display: inline-block;
        }
    }
}

.map-container,
.map-container-container {
    height: 250px;
}

.map-container-container {
    position: relative;

    & > .loading-overlay {
        justify-content: center;
        padding: 10px 10px 20px 10px;
        background: #44444a;
        z-index: 9999;
    }

    .back-to-changes {
        position: absolute;
        top: 7px;
        left: 7px;

        z-index: 9998;

        cursor: pointer;
        font-family: $font-stack;
    }

    & + h1,
    & + h2 {
        margin-top: 20px;
    }
}

.direction-chooser {
    list-style-type: none;
    padding:0;

    & > li {
        position: relative;

        margin: 7px 4px;
        padding: 7px 15px;
        border-radius: 6px;

        background: #ccc;
        cursor: pointer;

        & > img {
            position: relative;
            left: 3px;
            top: 2px;
        }

        &.is-selected::before {
            content: "";
            display: block;

            position: absolute;
            top: -2px;
            right: -2px;
            bottom: -2px;
            left: -2px;

            border: 3px solid black;
            border-radius: 8px;
        }
    }
}

.search-match {
    background-color: rgb(255, 217, 0);
    color: black;
}

.departure-time-groups {
    list-style-type: none;

    & > li {
        position: relative;

        &::before {
            content:">";
            position: absolute;
            top: 0;
            right: -15px;
        }
    }

    &.departure-time-groups-added > li::before {
        content: "+";
    }

    &.departure-time-groups-removed > li::before {
        content: "–";
    }
}

.departure-times {
    list-style-type: none;
    padding: 0;

    & > li {
        display: inline-block;
        padding: 0 4px;
    }
}

// terrible, cursed, lovely hack, that might just work!!!!
body.disable-momentum * {
    -webkit-overflow-scrolling: auto;
}

.alert-gantt-container {
    margin-bottom: 20px;

    .hints-container {
        margin: 3px 30px;
        height: 20px;

        position: relative;

        & > .hint-more-before,
        & > .hint-more-after {
            display: block;
            position: absolute;

            color: rgb(184, 49, 49);

            &:not([disabled]) {
                cursor: pointer;
            }
        }

        & > .hint-more-before {
            right: 0;
        }

        & > .hint-more-after {
            left: 0;
        }

        & > .zoom-button {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            display: flex;
            align-items: center;
            justify-content: center;

            width: 25px;
            height: 25px;

            padding: 3px;
            border-radius: 4px; // goddamn ios
            border-width: 1px;
            
            cursor: pointer;

            & > img {
                max-width: 100%;
                max-height: 100%;
            }
        }
    }
}

.alert-gantt {
    width: 100%;


    display: flex;
    align-items: stretch;
    justify-content: space-between;

    margin-top: 53px; /* for the hourlines' datelabels */

    & > .gantt-area {
        flex-grow: 1;
        position: relative;
        background: #fff9e8;
    }

    & > button.move-viewport {
        width: 30px;
        background: none;
        border: none;

        font-size: 30px;

        cursor: pointer;

        position: relative;

        &::before {
            content: "";
            display: block;
            position: absolute;

            top: 0;
            bottom: 0;
            left: 0;
            right: 0;

            background: url(/assets/chevron-right.svg) no-repeat center/40%;
        }

        &.forwards::before {
            transform: scaleX(-1);
        }

        &[disabled] {
            cursor: unset;
        }

        &[disabled]::before {
            opacity: 0.2;
        }
    }
}

.alert-gantt-hourlines {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.alert-gantt .hourline {
    position: absolute;
    // height: 100%;
    width: 1px;
    z-index: 2;
    top: 0;
    bottom: 0;
    border-left: 1px dashed #bbb;
    box-sizing: border-box;

    & > .datelabel {
        font-size: 12px;
        position: absolute;
        top: -2px;
        transform: translate(50%, -100%);
        min-width: 45px;
        text-align: center;
        z-index: 3;
    }

    &.hourline-now {
        top: -30px;
        bottom: 0;
        border-left: 1px solid red;
        z-index: 4;

        & > .datelabel {
            color: red;
        }
    }
}

ul.alert-gantt-rows {
    position: relative;
    z-index: 3;

    list-style-type: none;
    margin: 0;
    padding: 0;

    & > li {
        display: block;
        height: 20px;
        position: relative;

        border-top: 1px dashed #aaa;

        &:last-child {
            border-bottom: 1px dashed #aaa;
        }

        & > .alert-gantt-item {
            font-size: 14px;
            line-height: 18px;

            position: absolute;
            height: 18px;
            top: 1px;
            // z-index: -1;

            background: rgb(238, 139, 139);
            // border: 1px solid black;
            border-radius: 5px;
            box-sizing: border-box;
            padding: 0 2px;

            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            &.less-important {
                background: rgb(136, 193, 243);
            }
        }
    }
}

.gantt-area .start-invisible {
    border-right: none !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.gantt-area .end-invisible {
    border-left: none !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.alert-gantt-clickable-areas {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 5;

    & > .period {
        position: absolute;
        height: 100%;
        background: #7777;
        border: 2px solid #777;
        border-radius: 5px;

        box-sizing: border-box;

        padding: 0;

        &.selected {
            background: transparent;
            border-color: black;

            z-index: 2;
        }

        &:not(.selected) {
            cursor: pointer;
        }
    }
}